<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3>Welcome to Hububba!</h3>
  <input type="text" id="new-title"></input>
  <textarea id="new-content"></textarea>
  <input type="submit" id="new-post"></input>
  <dl>
    <%= Enum.map @posts, fn(post) -> %>
      <dt><%= post.title %></dt>
      <dd><%= post.content %><dd>
    <%= end %>
  </dl>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.0/Bacon.js"></script>
  <script src="/static/js/application.js"></script>
</body>

</html>
